{
  "swagger": "2.0",
  "schemes": ["https"],
  "host": "dlp.googleapis.com",
  "basePath": "/",
  "info": {
    "contact": {"name": "Google", "url": "https://google.com"},
    "description": "The Google Data Loss Prevention API provides methods for detection of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
    "license": {"name": "Creative Commons Attribution 3.0", "url": "http://creativecommons.org/licenses/by/3.0/"},
    "termsOfService": "https://developers.google.com/terms/",
    "title": "DLP",
    "version": "v2beta1",
    "x-apiClientRegistration": {"url": "https://console.developers.google.com"},
    "x-logo": {"url": "https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"},
    "x-origin": [{"converter": {"url": "https://github.com/lucybot/api-spec-converter", "version": "2.0.1"}, "format": "google", "url": "https://dlp.googleapis.com/$discovery/rest?version=v2beta1", "version": "v1"}],
    "x-preferred": true,
    "x-providerName": "googleapis.com",
    "x-serviceName": "dlp"
  },
  "externalDocs": {"url": "https://cloud.google.com/dlp/docs/"},
  "securityDefinitions": {
    "Oauth2": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 implicit authentication",
      "flow": "implicit",
      "scopes": {"https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services"},
      "type": "oauth2"
    },
    "Oauth2c": {
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "description": "Oauth 2.0 accessCode authentication",
      "flow": "accessCode",
      "scopes": {"https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services"},
      "tokenUrl": "https://accounts.google.com/o/oauth2/token",
      "type": "oauth2"
    }
  },
  "parameters": {
    "$.xgafv": {"description": "V1 error format.", "enum": ["1", "2"], "in": "query", "name": "$.xgafv", "type": "string"},
    "access_token": {"description": "OAuth access token.", "in": "query", "name": "access_token", "type": "string"},
    "alt": {"default": "json", "description": "Data format for response.", "enum": ["json", "media", "proto"], "in": "query", "name": "alt", "type": "string"},
    "bearer_token": {"description": "OAuth bearer token.", "in": "query", "name": "bearer_token", "type": "string"},
    "callback": {"description": "JSONP", "in": "query", "name": "callback", "type": "string"},
    "fields": {"description": "Selector specifying which fields to include in a partial response.", "in": "query", "name": "fields", "type": "string"},
    "key": {"description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.", "in": "query", "name": "key", "type": "string"},
    "oauth_token": {"description": "OAuth 2.0 token for the current user.", "in": "query", "name": "oauth_token", "type": "string"},
    "pp": {"default": true, "description": "Pretty-print response.", "in": "query", "name": "pp", "type": "boolean"},
    "prettyPrint": {"default": true, "description": "Returns response with indentations and line breaks.", "in": "query", "name": "prettyPrint", "type": "boolean"},
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "in": "query",
      "name": "quotaUser",
      "type": "string"
    },
    "uploadType": {"description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").", "in": "query", "name": "uploadType", "type": "string"},
    "upload_protocol": {"description": "Upload protocol for media (e.g. \"raw\", \"multipart\").", "in": "query", "name": "upload_protocol", "type": "string"}
  },
  "tags": [{"name": "content"}, {"name": "inspect"}, {"name": "riskAnalysis"}, {"name": "rootCategories"}],
  "paths": {
    "/v2beta1/content:inspect": {
      "parameters": [
        {"$ref": "#/parameters/$.xgafv"},
        {"$ref": "#/parameters/access_token"},
        {"$ref": "#/parameters/alt"},
        {"$ref": "#/parameters/bearer_token"},
        {"$ref": "#/parameters/callback"},
        {"$ref": "#/parameters/fields"},
        {"$ref": "#/parameters/key"},
        {"$ref": "#/parameters/oauth_token"},
        {"$ref": "#/parameters/pp"},
        {"$ref": "#/parameters/prettyPrint"},
        {"$ref": "#/parameters/quotaUser"},
        {"$ref": "#/parameters/uploadType"},
        {"$ref": "#/parameters/upload_protocol"}
      ],
      "post": {
        "description": "Finds potentially sensitive info in a list of strings.\nThis method has limits on input size, processing time, and output size.",
        "operationId": "dlp.content.inspect",
        "parameters": [{"in": "body", "name": "body", "schema": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InspectContentRequest"}}],
        "responses": {"200": {"description": "Successful response", "schema": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InspectContentResponse"}}},
        "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}],
        "tags": ["content"]
      }
    },
    "/v2beta1/content:redact": {
      "parameters": [
        {"$ref": "#/parameters/$.xgafv"},
        {"$ref": "#/parameters/access_token"},
        {"$ref": "#/parameters/alt"},
        {"$ref": "#/parameters/bearer_token"},
        {"$ref": "#/parameters/callback"},
        {"$ref": "#/parameters/fields"},
        {"$ref": "#/parameters/key"},
        {"$ref": "#/parameters/oauth_token"},
        {"$ref": "#/parameters/pp"},
        {"$ref": "#/parameters/prettyPrint"},
        {"$ref": "#/parameters/quotaUser"},
        {"$ref": "#/parameters/uploadType"},
        {"$ref": "#/parameters/upload_protocol"}
      ],
      "post": {
        "description": "Redacts potentially sensitive info from a list of strings.\nThis method has limits on input size, processing time, and output size.",
        "operationId": "dlp.content.redact",
        "parameters": [{"in": "body", "name": "body", "schema": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1RedactContentRequest"}}],
        "responses": {"200": {"description": "Successful response", "schema": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1RedactContentResponse"}}},
        "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}],
        "tags": ["content"]
      }
    },
    "/v2beta1/inspect/operations": {
      "parameters": [
        {"$ref": "#/parameters/$.xgafv"},
        {"$ref": "#/parameters/access_token"},
        {"$ref": "#/parameters/alt"},
        {"$ref": "#/parameters/bearer_token"},
        {"$ref": "#/parameters/callback"},
        {"$ref": "#/parameters/fields"},
        {"$ref": "#/parameters/key"},
        {"$ref": "#/parameters/oauth_token"},
        {"$ref": "#/parameters/pp"},
        {"$ref": "#/parameters/prettyPrint"},
        {"$ref": "#/parameters/quotaUser"},
        {"$ref": "#/parameters/uploadType"},
        {"$ref": "#/parameters/upload_protocol"}
      ],
      "post": {
        "description": "Schedules a job scanning content in a Google Cloud Platform data\nrepository.",
        "operationId": "dlp.inspect.operations.create",
        "parameters": [{"in": "body", "name": "body", "schema": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1CreateInspectOperationRequest"}}],
        "responses": {"200": {"description": "Successful response", "schema": {"$ref": "#/definitions/GoogleLongrunningOperation"}}},
        "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}],
        "tags": ["inspect"]
      }
    },
    "/v2beta1/rootCategories": {
      "get": {
        "description": "Returns the list of root categories of sensitive information.",
        "operationId": "dlp.rootCategories.list",
        "parameters": [
          {"description": "Optional language code for localized friendly category names.\nIf omitted or if localized strings are not available,\nen-US strings will be returned.", "in": "query", "name": "languageCode", "type": "string"}
        ],
        "responses": {"200": {"description": "Successful response", "schema": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1ListRootCategoriesResponse"}}},
        "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}],
        "tags": ["rootCategories"]
      },
      "parameters": [
        {"$ref": "#/parameters/$.xgafv"},
        {"$ref": "#/parameters/access_token"},
        {"$ref": "#/parameters/alt"},
        {"$ref": "#/parameters/bearer_token"},
        {"$ref": "#/parameters/callback"},
        {"$ref": "#/parameters/fields"},
        {"$ref": "#/parameters/key"},
        {"$ref": "#/parameters/oauth_token"},
        {"$ref": "#/parameters/pp"},
        {"$ref": "#/parameters/prettyPrint"},
        {"$ref": "#/parameters/quotaUser"},
        {"$ref": "#/parameters/uploadType"},
        {"$ref": "#/parameters/upload_protocol"}
      ]
    },
    "/v2beta1/rootCategories/{category}/infoTypes": {
      "get": {
        "description": "Returns sensitive information types for given category.",
        "operationId": "dlp.rootCategories.infoTypes.list",
        "parameters": [
          {"description": "Category name as returned by ListRootCategories.", "in": "path", "name": "category", "required": true, "type": "string", "x-reservedExpansion": true},
          {
            "description": "Optional BCP-47 language code for localized info type friendly\nnames. If omitted, or if localized strings are not available,\nen-US strings will be returned.",
            "in": "query",
            "name": "languageCode",
            "type": "string"
          }
        ],
        "responses": {"200": {"description": "Successful response", "schema": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1ListInfoTypesResponse"}}},
        "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}],
        "tags": ["rootCategories"]
      },
      "parameters": [
        {"$ref": "#/parameters/$.xgafv"},
        {"$ref": "#/parameters/access_token"},
        {"$ref": "#/parameters/alt"},
        {"$ref": "#/parameters/bearer_token"},
        {"$ref": "#/parameters/callback"},
        {"$ref": "#/parameters/fields"},
        {"$ref": "#/parameters/key"},
        {"$ref": "#/parameters/oauth_token"},
        {"$ref": "#/parameters/pp"},
        {"$ref": "#/parameters/prettyPrint"},
        {"$ref": "#/parameters/quotaUser"},
        {"$ref": "#/parameters/uploadType"},
        {"$ref": "#/parameters/upload_protocol"}
      ]
    },
    "/v2beta1/{name}": {
      "delete": {
        "description": "This method is not supported and the server returns `UNIMPLEMENTED`.",
        "operationId": "dlp.riskAnalysis.operations.delete",
        "parameters": [{"description": "The name of the operation resource to be deleted.", "in": "path", "name": "name", "required": true, "type": "string", "x-reservedExpansion": true}],
        "responses": {"200": {"description": "Successful response", "schema": {"$ref": "#/definitions/GoogleProtobufEmpty"}}},
        "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}],
        "tags": ["riskAnalysis"]
      },
      "get": {
        "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
        "operationId": "dlp.riskAnalysis.operations.get",
        "parameters": [{"description": "The name of the operation resource.", "in": "path", "name": "name", "required": true, "type": "string", "x-reservedExpansion": true}],
        "responses": {"200": {"description": "Successful response", "schema": {"$ref": "#/definitions/GoogleLongrunningOperation"}}},
        "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}],
        "tags": ["riskAnalysis"]
      },
      "parameters": [
        {"$ref": "#/parameters/$.xgafv"},
        {"$ref": "#/parameters/access_token"},
        {"$ref": "#/parameters/alt"},
        {"$ref": "#/parameters/bearer_token"},
        {"$ref": "#/parameters/callback"},
        {"$ref": "#/parameters/fields"},
        {"$ref": "#/parameters/key"},
        {"$ref": "#/parameters/oauth_token"},
        {"$ref": "#/parameters/pp"},
        {"$ref": "#/parameters/prettyPrint"},
        {"$ref": "#/parameters/quotaUser"},
        {"$ref": "#/parameters/uploadType"},
        {"$ref": "#/parameters/upload_protocol"}
      ]
    },
    "/v2beta1/{name}/findings": {
      "get": {
        "description": "Returns list of results for given inspect operation result set id.",
        "operationId": "dlp.inspect.results.findings.list",
        "parameters": [
          {
            "description": "Restricts findings to items that match. Supports info_type and likelihood.\n<p>Examples:<br/>\n<li>info_type=EMAIL_ADDRESS\n<li>info_type=PHONE_NUMBER,EMAIL_ADDRESS\n<li>likelihood=VERY_LIKELY\n<li>likelihood=VERY_LIKELY,LIKELY\n<li>info_type=EMAIL_ADDRESS,likelihood=VERY_LIKELY,LIKELY",
            "in": "query",
            "name": "filter",
            "type": "string"
          },
          {
            "description": "Identifier of the results set returned as metadata of\nthe longrunning operation created by a call to CreateInspectOperation.\nShould be in the format of `inspect/results/{id}`.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string",
            "x-reservedExpansion": true
          },
          {"description": "Maximum number of results to return.\nIf 0, the implementation selects a reasonable value.", "in": "query", "name": "pageSize", "type": "integer"},
          {
            "description": "The value returned by the last `ListInspectFindingsResponse`; indicates\nthat this is a continuation of a prior `ListInspectFindings` call, and that\nthe system should return the next page of data.",
            "in": "query",
            "name": "pageToken",
            "type": "string"
          }
        ],
        "responses": {"200": {"description": "Successful response", "schema": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1ListInspectFindingsResponse"}}},
        "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}],
        "tags": ["inspect"]
      },
      "parameters": [
        {"$ref": "#/parameters/$.xgafv"},
        {"$ref": "#/parameters/access_token"},
        {"$ref": "#/parameters/alt"},
        {"$ref": "#/parameters/bearer_token"},
        {"$ref": "#/parameters/callback"},
        {"$ref": "#/parameters/fields"},
        {"$ref": "#/parameters/key"},
        {"$ref": "#/parameters/oauth_token"},
        {"$ref": "#/parameters/pp"},
        {"$ref": "#/parameters/prettyPrint"},
        {"$ref": "#/parameters/quotaUser"},
        {"$ref": "#/parameters/uploadType"},
        {"$ref": "#/parameters/upload_protocol"}
      ]
    },
    "/v2beta1/{name}:cancel": {
      "parameters": [
        {"$ref": "#/parameters/$.xgafv"},
        {"$ref": "#/parameters/access_token"},
        {"$ref": "#/parameters/alt"},
        {"$ref": "#/parameters/bearer_token"},
        {"$ref": "#/parameters/callback"},
        {"$ref": "#/parameters/fields"},
        {"$ref": "#/parameters/key"},
        {"$ref": "#/parameters/oauth_token"},
        {"$ref": "#/parameters/pp"},
        {"$ref": "#/parameters/prettyPrint"},
        {"$ref": "#/parameters/quotaUser"},
        {"$ref": "#/parameters/uploadType"},
        {"$ref": "#/parameters/upload_protocol"}
      ],
      "post": {
        "description": "Cancels an operation. Use the get method to check whether the cancellation succeeded or whether the operation completed despite cancellation.",
        "operationId": "dlp.riskAnalysis.operations.cancel",
        "parameters": [
          {"in": "body", "name": "body", "schema": {"$ref": "#/definitions/GoogleLongrunningCancelOperationRequest"}},
          {"description": "The name of the operation resource to be cancelled.", "in": "path", "name": "name", "required": true, "type": "string", "x-reservedExpansion": true}
        ],
        "responses": {"200": {"description": "Successful response", "schema": {"$ref": "#/definitions/GoogleProtobufEmpty"}}},
        "security": [{"Oauth2": ["https://www.googleapis.com/auth/cloud-platform"], "Oauth2c": ["https://www.googleapis.com/auth/cloud-platform"]}],
        "tags": ["riskAnalysis"]
      }
    }
  },
  "definitions": {
    "GoogleLongrunningCancelOperationRequest": {"description": "The request message for Operations.CancelOperation.", "properties": {}, "type": "object"},
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {"description": "The standard List next-page token.", "type": "string"},
        "operations": {"description": "A list of operations that matches the specified filter in the request.", "items": {"$ref": "#/definitions/GoogleLongrunningOperation"}, "type": "array"}
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "properties": {
        "done": {"description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.", "type": "boolean"},
        "error": {"$ref": "#/definitions/GoogleRpcStatus", "description": "The error result of the operation in case of failure or cancellation."},
        "metadata": {
          "additionalProperties": {"description": "Properties of the object. Contains field @type with type URL."},
          "description": "This field will contain an InspectOperationMetadata object. This will always be returned with the Operation.",
          "type": "object"
        },
        "name": {"description": "The server-assigned name, The `name` should have the format of `inspect/operations/<identifier>`.", "type": "string"},
        "response": {"additionalProperties": {"description": "Properties of the object. Contains field @type with type URL."}, "description": "This field will contain an InspectOperationResult object.", "type": "object"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1BigQueryOptions": {
      "description": "Options defining BigQuery table and row identifiers.",
      "properties": {
        "identifyingFields": {
          "description": "References to fields uniquely identifying rows within the table.\nNested fields in the format, like `person.birthdate.year`, are allowed.",
          "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1FieldId"},
          "type": "array"
        },
        "tableReference": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1BigQueryTable", "description": "Complete BigQuery table reference."}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1BigQueryTable": {
      "description": "Message defining the location of a BigQuery table. A table is uniquely\nidentified  by its project_id, dataset_id, and table_name. Within a query\na table is often referenced with a string in the format of:\n`<project_id>:<dataset_id>.<table_id>` or\n`<project_id>.<dataset_id>.<table_id>`.",
      "properties": {
        "datasetId": {"description": "Dataset ID of the table.", "type": "string"},
        "projectId": {"description": "The Google Cloud Platform project ID of the project containing the table.\nIf omitted, project ID is inferred from the API call.", "type": "string"},
        "tableId": {"description": "Name of the table.", "type": "string"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1CategoryDescription": {
      "description": "Info Type Category description.",
      "properties": {"displayName": {"description": "Human readable form of the category name.", "type": "string"}, "name": {"description": "Internal name of the category.", "type": "string"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1CloudStorageKey": {
      "description": "Record key for a finding in a Cloud Storage file.",
      "properties": {"filePath": {"description": "Path to the file.", "type": "string"}, "startOffset": {"description": "Byte offset of the referenced data in the file.", "format": "int64", "type": "string"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1CloudStorageOptions": {
      "description": "Options defining a file or a set of files (path ending with *) within\na Google Cloud Storage bucket.",
      "properties": {"fileSet": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1FileSet"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1CloudStoragePath": {"description": "A location in Cloud Storage.", "properties": {"path": {"description": "The url, in the format of `gs://bucket/<path>`.", "type": "string"}}, "type": "object"},
    "GooglePrivacyDlpV2beta1Color": {
      "description": "Represents a color in the RGB color space.",
      "properties": {
        "blue": {"description": "The amount of blue in the color as a value in the interval [0, 1].", "format": "float", "type": "number"},
        "green": {"description": "The amount of green in the color as a value in the interval [0, 1].", "format": "float", "type": "number"},
        "red": {"description": "The amount of red in the color as a value in the interval [0, 1].", "format": "float", "type": "number"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1ContentItem": {
      "description": "Container structure for the content to inspect.",
      "properties": {
        "data": {"description": "Content data to inspect or redact.", "format": "byte", "type": "string"},
        "table": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1Table", "description": "Structured content for inspection."},
        "type": {"description": "Type of the content, as defined in Content-Type HTTP header.\nSupported types are: all \"text\" types, octet streams, PNG images,\nJPEG images.", "type": "string"},
        "value": {"description": "String data to inspect or redact.", "type": "string"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1CreateInspectOperationRequest": {
      "description": "Request for scheduling a scan of a data subset from a Google Platform data\nrepository.",
      "properties": {
        "inspectConfig": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InspectConfig", "description": "Configuration for the inspector."},
        "operationConfig": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1OperationConfig", "description": "Additional configuration settings for long running operations."},
        "outputConfig": {
          "$ref": "#/definitions/GooglePrivacyDlpV2beta1OutputStorageConfig",
          "description": "Optional location to store findings. The bucket must already exist and\nthe Google APIs service account for DLP must have write permission to\nwrite to the given bucket.\n<p>Results are split over multiple csv files with each file name matching\nthe pattern \"[operation_id]_[count].csv\", for example\n`3094877188788974909_1.csv`. The `operation_id` matches the\nidentifier for the Operation, and the `count` is a counter used for\ntracking the number of files written. <p>The CSV file(s) contain the\nfollowing columns regardless of storage type scanned: <li>id <li>info_type\n<li>likelihood <li>byte size of finding <li>quote <li>timestamp<br/>\n<p>For Cloud Storage the next columns are: <li>file_path\n<li>start_offset<br/>\n<p>For Cloud Datastore the next columns are: <li>project_id\n<li>namespace_id <li>path <li>column_name <li>offset<br/>\n<p>For BigQuery the next columns are: <li>row_number <li>project_id\n<li>dataset_id <li>table_id"
        },
        "storageConfig": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1StorageConfig", "description": "Specification of the data set to process."}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1DatastoreKey": {
      "description": "Record key for a finding in Cloud Datastore.",
      "properties": {"entityKey": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1Key", "description": "Datastore entity key."}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1DatastoreOptions": {
      "description": "Options defining a data set within Google Cloud Datastore.",
      "properties": {
        "kind": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1KindExpression", "description": "The kind to process."},
        "partitionId": {
          "$ref": "#/definitions/GooglePrivacyDlpV2beta1PartitionId",
          "description": "A partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty."
        },
        "projection": {"description": "Properties to scan. If none are specified, all properties will be scanned\nby default.", "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1Projection"}, "type": "array"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1FieldId": {"description": "General identifier of a data field in a storage service.", "properties": {"columnName": {"description": "Name describing the field.", "type": "string"}}, "type": "object"},
    "GooglePrivacyDlpV2beta1FileSet": {
      "description": "Set of files to scan.",
      "properties": {"url": {"description": "The url, in the format `gs://<bucket>/<path>`. Trailing wildcard in the\npath is allowed.", "type": "string"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1Finding": {
      "description": "Container structure describing a single finding within a string or image.",
      "properties": {
        "createTime": {"description": "Timestamp when finding was detected.", "format": "google-datetime", "type": "string"},
        "infoType": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InfoType", "description": "The specific type of info the string might be."},
        "likelihood": {"description": "Estimate of how likely it is that the info_type is correct.", "enum": ["LIKELIHOOD_UNSPECIFIED", "VERY_UNLIKELY", "UNLIKELY", "POSSIBLE", "LIKELY", "VERY_LIKELY"], "type": "string"},
        "location": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1Location", "description": "Location of the info found."},
        "quote": {"description": "The specific string that may be potentially sensitive info.", "type": "string"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1ImageLocation": {
      "description": "Bounding box encompassing detected text within an image.",
      "properties": {
        "height": {"description": "Height of the bounding box in pixels.", "format": "int32", "type": "integer"},
        "left": {"description": "Left coordinate of the bounding box. (0,0) is upper left.", "format": "int32", "type": "integer"},
        "top": {"description": "Top coordinate of the bounding box. (0,0) is upper left.", "format": "int32", "type": "integer"},
        "width": {"description": "Width of the bounding box in pixels.", "format": "int32", "type": "integer"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1ImageRedactionConfig": {
      "description": "Configuration for determing how redaction of images should occur.",
      "properties": {
        "infoType": {
          "$ref": "#/definitions/GooglePrivacyDlpV2beta1InfoType",
          "description": "Only one per info_type should be provided per request. If not\nspecified, and redact_all_text is false, the DLP API will redact all\ntext that it matches against all info_types that are found, but not\nspecified in another ImageRedactionConfig."
        },
        "redactAllText": {"description": "If true, all text found in the image, regardless whether it matches an\ninfo_type, is redacted.", "type": "boolean"},
        "redactionColor": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1Color", "description": "The color to use when redacting content from an image. If not specified,\nthe default is black."}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InfoType": {"description": "Type of information detected by the API.", "properties": {"name": {"description": "Name of the information type.", "type": "string"}}, "type": "object"},
    "GooglePrivacyDlpV2beta1InfoTypeDescription": {
      "description": "Info type description.",
      "properties": {
        "categories": {"description": "List of categories this info type belongs to.", "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1CategoryDescription"}, "type": "array"},
        "displayName": {"description": "Human readable form of the info type name.", "type": "string"},
        "name": {"description": "Internal name of the info type.", "type": "string"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InfoTypeLimit": {
      "description": "Max findings configuration per info type, per content item or long running\noperation.",
      "properties": {
        "infoType": {
          "$ref": "#/definitions/GooglePrivacyDlpV2beta1InfoType",
          "description": "Type of information the findings limit applies to. Only one limit per\ninfo_type should be provided. If InfoTypeLimit does not have an\ninfo_type, the DLP API applies the limit against all info_types that are\nfound but not specified in another InfoTypeLimit."
        },
        "maxFindings": {"description": "Max findings limit for the given infoType.", "format": "int32", "type": "integer"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InfoTypeStatistics": {
      "description": "Statistics regarding a specific InfoType.",
      "properties": {
        "count": {"description": "Number of findings for this info type.", "format": "int64", "type": "string"},
        "infoType": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InfoType", "description": "The type of finding this stat is for."}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InspectConfig": {
      "description": "Configuration description of the scanning process.\nWhen used with redactContent only info_types and min_likelihood are currently\nused.",
      "properties": {
        "excludeTypes": {"description": "When true, excludes type information of the findings.", "type": "boolean"},
        "includeQuote": {"description": "When true, a contextual quote from the data that triggered a finding is\nincluded in the response; see Finding.quote.", "type": "boolean"},
        "infoTypeLimits": {"description": "Configuration of findings limit given for specified info types.", "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InfoTypeLimit"}, "type": "array"},
        "infoTypes": {
          "description": "Restricts what info_types to look for. The values must correspond to\nInfoType values returned by ListInfoTypes or found in documentation.\nEmpty info_types runs all enabled detectors.",
          "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InfoType"},
          "type": "array"
        },
        "maxFindings": {"description": "Limits the number of findings per content item or long running operation.", "format": "int32", "type": "integer"},
        "minLikelihood": {"description": "Only returns findings equal or above this threshold.", "enum": ["LIKELIHOOD_UNSPECIFIED", "VERY_UNLIKELY", "UNLIKELY", "POSSIBLE", "LIKELY", "VERY_LIKELY"], "type": "string"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InspectContentRequest": {
      "description": "Request to search for potentially sensitive info in a list of items.",
      "properties": {
        "inspectConfig": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InspectConfig", "description": "Configuration for the inspector."},
        "items": {
          "description": "The list of items to inspect. Items in a single request are\nconsidered \"related\" unless inspect_config.independent_inputs is true.\nUp to 100 are allowed per request.",
          "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1ContentItem"},
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InspectContentResponse": {
      "description": "Results of inspecting a list of items.",
      "properties": {"results": {"description": "Each content_item from the request has a result in this list, in the\nsame order as the request.", "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InspectResult"}, "type": "array"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InspectOperationMetadata": {
      "description": "Metadata returned within GetOperation for an inspect request.",
      "properties": {
        "createTime": {"description": "The time which this request was started.", "format": "google-datetime", "type": "string"},
        "infoTypeStats": {"items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InfoTypeStatistics"}, "type": "array"},
        "processedBytes": {"description": "Total size in bytes that were processed.", "format": "int64", "type": "string"},
        "requestInspectConfig": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InspectConfig", "description": "The inspect config used to create the Operation."},
        "requestOutputConfig": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1OutputStorageConfig", "description": "Optional location to store findings."},
        "requestStorageConfig": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1StorageConfig", "description": "The storage config used to create the Operation."},
        "totalEstimatedBytes": {"description": "Estimate of the number of bytes to process.", "format": "int64", "type": "string"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InspectOperationResult": {
      "description": "The operational data.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `inspect/results/{id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1InspectResult": {
      "description": "All the findings for a single scanned item.",
      "properties": {
        "findings": {"description": "List of findings for an item.", "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1Finding"}, "type": "array"},
        "findingsTruncated": {
          "description": "If true, then this item might have more findings than were returned,\nand the findings returned are an arbitrary subset of all findings.\nThe findings list might be truncated because the input items were too\nlarge, or because the server reached the maximum amount of resources\nallowed for a single API call. For best results, divide the input into\nsmaller batches.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1Key": {
      "description": "A unique identifier for a Datastore entity.\nIf a key's partition ID or any of its path kinds or names are\nreserved/read-only, the key is reserved/read-only.\nA reserved/read-only key is forbidden in certain documented contexts.",
      "properties": {
        "partitionId": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1PartitionId", "description": "Entities are partitioned into subsets, currently identified by a project\nID and namespace ID.\nQueries are scoped to a single partition."},
        "path": {
          "description": "The entity path.\nAn entity path consists of one or more elements composed of a kind and a\nstring or numerical identifier, which identify entities. The first\nelement identifies a _root entity_, the second element identifies\na _child_ of the root entity, the third element identifies a child of the\nsecond entity, and so forth. The entities identified by all prefixes of\nthe path are called the element's _ancestors_.\n\nA path can never be empty, and a path can have at most 100 elements.",
          "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1PathElement"},
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1KindExpression": {"description": "A representation of a Datastore kind.", "properties": {"name": {"description": "The name of the kind.", "type": "string"}}, "type": "object"},
    "GooglePrivacyDlpV2beta1ListInfoTypesResponse": {
      "description": "Response to the ListInfoTypes request.",
      "properties": {"infoTypes": {"description": "Set of sensitive info types belonging to a category.", "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InfoTypeDescription"}, "type": "array"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1ListInspectFindingsResponse": {
      "description": "Response to the ListInspectFindings request.",
      "properties": {
        "nextPageToken": {"description": "If not empty, indicates that there may be more results that match the\nrequest; this value should be passed in a new `ListInspectFindingsRequest`.", "type": "string"},
        "result": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InspectResult", "description": "The results."}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1ListRootCategoriesResponse": {
      "description": "Response for ListRootCategories request.",
      "properties": {"categories": {"description": "List of all into type categories supported by the API.", "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1CategoryDescription"}, "type": "array"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1Location": {
      "description": "Specifies the location of a finding within its source item.",
      "properties": {
        "byteRange": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1Range", "description": "Zero-based byte offsets within a content item."},
        "codepointRange": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1Range", "description": "Character offsets within a content item, included when content type\nis a text. Default charset assumed to be UTF-8."},
        "fieldId": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1FieldId", "description": "Field id of the field containing the finding."},
        "imageBoxes": {"description": "Location within an image's pixels.", "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1ImageLocation"}, "type": "array"},
        "recordKey": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1RecordKey", "description": "Key of the finding."},
        "tableLocation": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1TableLocation", "description": "Location within a `ContentItem.Table`."}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1OperationConfig": {
      "description": "Additional configuration for inspect long running operations.",
      "properties": {"maxItemFindings": {"description": "Max number of findings per file, Datastore entity, or database row.", "format": "int64", "type": "string"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1OutputStorageConfig": {
      "description": "Cloud repository for storing output.",
      "properties": {
        "storagePath": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1CloudStoragePath", "description": "The path to a Google Cloud Storage location to store output."},
        "table": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1BigQueryTable", "description": "Store findings in a new table in the dataset."}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1PartitionId": {
      "description": "Datastore partition ID.\nA partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty.\n\nA partition ID contains several dimensions:\nproject ID and namespace ID.",
      "properties": {
        "namespaceId": {"description": "If not empty, the ID of the namespace to which the entities belong.", "type": "string"},
        "projectId": {"description": "The ID of the project to which the entities belong.", "type": "string"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1PathElement": {
      "description": "A (kind, ID/name) pair used to construct a key path.\n\nIf either name or ID is set, the element is complete.\nIf neither is set, the element is incomplete.",
      "properties": {
        "id": {"description": "The auto-allocated ID of the entity.\nNever equal to zero. Values less than zero are discouraged and may not\nbe supported in the future.", "format": "int64", "type": "string"},
        "kind": {"description": "The kind of the entity.\nA kind matching regex `__.*__` is reserved/read-only.\nA kind must not contain more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.", "type": "string"},
        "name": {"description": "The name of the entity.\nA name matching regex `__.*__` is reserved/read-only.\nA name must not be more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.", "type": "string"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1Projection": {
      "description": "A representation of a Datastore property in a projection.",
      "properties": {"property": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1PropertyReference", "description": "The property to project."}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1PropertyReference": {
      "description": "A reference to a property relative to the Datastore kind expressions.",
      "properties": {"name": {"description": "The name of the property.\nIf name includes \".\"s, it may be interpreted as a property name path.", "type": "string"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1Range": {
      "description": "Generic half-open interval [start, end)",
      "properties": {
        "end": {"description": "Index of the last character of the range (exclusive).", "format": "int64", "type": "string"},
        "start": {"description": "Index of the first character of the range (inclusive).", "format": "int64", "type": "string"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1RecordKey": {
      "description": "Message for a unique key indicating a record that contains a finding.",
      "properties": {"cloudStorageKey": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1CloudStorageKey"}, "datastoreKey": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1DatastoreKey"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1RedactContentRequest": {
      "description": "Request to search for potentially sensitive info in a list of items\nand replace it with a default or provided content.",
      "properties": {
        "imageRedactionConfigs": {"description": "The configuration for specifying what content to redact from images.", "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1ImageRedactionConfig"}, "type": "array"},
        "inspectConfig": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1InspectConfig", "description": "Configuration for the inspector."},
        "items": {"description": "The list of items to inspect. Up to 100 are allowed per request.", "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1ContentItem"}, "type": "array"},
        "replaceConfigs": {
          "description": "The strings to replace findings text findings with. Must specify at least\none of these or one ImageRedactionConfig if redacting images.",
          "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1ReplaceConfig"},
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1RedactContentResponse": {
      "description": "Results of redacting a list of items.",
      "properties": {"items": {"description": "The redacted content.", "items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1ContentItem"}, "type": "array"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1ReplaceConfig": {
      "properties": {
        "infoType": {
          "$ref": "#/definitions/GooglePrivacyDlpV2beta1InfoType",
          "description": "Type of information to replace. Only one ReplaceConfig per info_type\nshould be provided. If ReplaceConfig does not have an info_type, the DLP\nAPI matches it against all info_types that are found but not specified in\nanother ReplaceConfig."
        },
        "replaceWith": {"description": "Content replacing sensitive information of given type. Max 256 chars.", "type": "string"}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1Row": {"properties": {"values": {"items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1Value"}, "type": "array"}}, "type": "object"},
    "GooglePrivacyDlpV2beta1StorageConfig": {
      "description": "Shared message indicating Cloud storage type.",
      "properties": {
        "bigQueryOptions": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1BigQueryOptions", "description": "BigQuery options specification."},
        "cloudStorageOptions": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1CloudStorageOptions", "description": "Google Cloud Storage options specification."},
        "datastoreOptions": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1DatastoreOptions", "description": "Google Cloud Datastore options specification."}
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1Table": {
      "description": "Structured content to inspect. Up to 50,000 `Value`s per request allowed.",
      "properties": {"headers": {"items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1FieldId"}, "type": "array"}, "rows": {"items": {"$ref": "#/definitions/GooglePrivacyDlpV2beta1Row"}, "type": "array"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1TableLocation": {
      "description": "Location of a finding within a `ContentItem.Table`.",
      "properties": {"rowIndex": {"description": "The zero-based index of the row where the finding is located.", "format": "int64", "type": "string"}},
      "type": "object"
    },
    "GooglePrivacyDlpV2beta1Value": {
      "description": "Set of primitive values supported by the system.",
      "properties": {
        "booleanValue": {"type": "boolean"},
        "dateValue": {"$ref": "#/definitions/GoogleTypeDate"},
        "floatValue": {"format": "double", "type": "number"},
        "integerValue": {"format": "int64", "type": "string"},
        "stringValue": {"type": "string"},
        "timeValue": {"$ref": "#/definitions/GoogleTypeTimeOfDay"},
        "timestampValue": {"format": "google-datetime", "type": "string"}
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
      "properties": {
        "code": {"description": "The status code, which should be an enum value of google.rpc.Code.", "format": "int32", "type": "integer"},
        "details": {
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
          "items": {"additionalProperties": {"description": "Properties of the object. Contains field @type with type URL."}, "type": "object"},
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand `google.protobuf.Timestamp`.",
      "properties": {
        "day": {"description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant.", "format": "int32", "type": "integer"},
        "month": {"description": "Month of year. Must be from 1 to 12.", "format": "int32", "type": "integer"},
        "year": {"description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.", "format": "int32", "type": "integer"}
      },
      "type": "object"
    },
    "GoogleTypeTimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant\nor are specified elsewhere. An API may choose to allow leap seconds. Related\ntypes are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {"description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose\nto allow the value \"24:00:00\" for scenarios like business closing time.", "format": "int32", "type": "integer"},
        "minutes": {"description": "Minutes of hour of day. Must be from 0 to 59.", "format": "int32", "type": "integer"},
        "nanos": {"description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.", "format": "int32", "type": "integer"},
        "seconds": {"description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may\nallow the value 60 if it allows leap-seconds.", "format": "int32", "type": "integer"}
      },
      "type": "object"
    }
  }
}
